@charset "UTF-8";
.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 20.3px;
}

ul .h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 27px;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    padding: 10px;
  }
}

body {
  font-family: "Inter", sans-serif;
}

body.menu-open {
  overflow: hidden;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__overlay {
  display: block;
}

#menu__toggle:checked ~ .menu__box {
  right: 0;
}

.menu__btn {
  position: fixed;
  top: 30px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(34, 33, 33, 0.7);
  /* Колір темного бекграунда */
}

.menu__box {
  display: block;
  position: fixed;
  top: 0px;
  right: -100%;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
@media screen and (min-width: 768px) {
  .menu__box {
    width: 40%;
  }
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

.mobile-ham-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 30;
  top: 0;
}
@media screen and (min-width: 1200px) {
  .mobile-ham-container {
    display: none;
  }
}

.hero-section {
  padding-top: 75px;
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 130px;
  }
}

.hero-title {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 48px;
  }
}

.hero-info {
  font-size: 14px;
  margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
  .hero-info {
    font-size: 16px;
  }
}

.hero-img {
  width: 280px;
  height: 350px;
}
@media screen and (min-width: 1200px) {
  .hero-img {
    width: 460px;
    height: 575px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.proposals-section {
  padding-top: 90px;
}

.proposals-title {
  margin-bottom: 30px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .proposals-title {
    font-size: 32px;
  }
}

.proposal-info {
  margin-bottom: 30px;
}

.proposal-item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .proposals-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .proposal-item-container {
    width: 100%;
    height: 270px;
  }
}

.proposal-item-container {
  background-color: #023436;
  border-radius: 10px;
  padding: 30px;
  color: white;
}

.proposal-item-title {
  font-size: 20px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .proposal-item-title {
    font-size: 22px;
  }
}

.proposal-item-info {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .proposal-item-info {
    font-size: 16px;
  }
}

.services-section {
  padding-top: 90px;
}

.services-title {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .services-title {
    font-size: 32px;
  }
}

.services-info {
  font-size: 14px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .services-info {
    font-size: 16px;
  }
}

.services-item {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 30px;
}
@media screen and (min-width: 1200px) {
  .services-item {
    width: 335px;
    height: 250px;
  }
}

.services-item:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .services-item:not(:last-child) {
    margin-bottom: 18px;
  }
}

.services-item-title {
  margin-bottom: 15px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .services-item-title {
    font-size: 20px;
  }
}

.services-item-info {
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .services-item-info {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.doc-section {
  padding-top: 90px;
}

.doc-title {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .doc-title {
    font-size: 32px;
  }
}

.doc-info {
  font-size: 12px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .doc-info {
    font-size: 16px;
  }
}

.doc-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.doctor-photo {
  width: 200px;
  height: 250px;
  margin-bottom: 30px;
}

.doc-title {
  font-size: 20px;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .doc-title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.doc-card-info {
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .doc-card-info {
    font-size: 16px;
  }
}

.photo-section {
  padding-top: 90px;
}

.photo-title {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .photo-title {
    font-size: 32px;
  }
}

.thumb-photo {
  height: 135px;
  width: 135px;
}
@media screen and (min-width: 1200px) {
  .thumb-photo {
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
  }
}

.thumb-description {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .thumb-description {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .thumb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.thumb-item:not(:last-child) {
  margin-bottom: 30px;
}

.thumb-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .thumb-card {
    height: 230px;
    width: 260px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
  }
}

.consult-section {
  padding-top: 90px;
}

.consult-title {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .consult-title {
    font-size: 32px;
  }
}

.consult-info {
  font-size: 12px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .consult-info {
    font-size: 16px;
  }
}

.form {
  width: 100%;
  margin: 0 auto;
  background-color: #023436;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1200px) {
  .form {
    width: 70%;
  }
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.form-info {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
@media screen and (min-width: 1200px) {
  .form-info {
    font-size: 16px;
  }
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}
.form-input:focus {
  outline: none;
  font-size: 16px;
}

.form-button {
  background-color: #034449;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.form-input:focus + .form-button {
  opacity: 1;
  transform: translateY(0);
}

.contacts-section {
  padding-top: 90px;
}

.contacts-title {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    font-size: 32px;
  }
}

.contacts-info {
  font-size: 14px;
  color: black;
}
@media screen and (min-width: 768px) {
  .contacts-info {
    font-size: 16px;
  }
}

.contacts-info:last-child {
  margin-bottom: 30px;
}

.contacts-item-icon,
.contacts-location-icon,
.contacts-schedule-icon,
.contacts-media-icon {
  margin-bottom: 25px;
}

.contacts-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts-info,
.contacts-location {
  font-size: 13px;
  color: black;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts-info,
  .contacts-location {
    font-size: 16px;
  }
}

.contacts-mg {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts-anim {
  transition: transform 0.3s ease-in-out;
}
.contacts-anim:hover {
  transform: translateY(-5px); /* Зсув на 5px вгору при наведенні */
}

.contacts-anim::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .contacts-anim:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
.page-header {
  display: none;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: white;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .page-header {
    display: block;
  }
}

.navigation-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navigation-list-link {
  color: black;
  font-size: 14px;
  font-weight: 800;
  color: inherit;
  text-decoration: none;
  padding: 10px 0 10px 0;
}

.navigation-item {
  transition: transform 0.3s ease-in-out;
}
.navigation-item:hover {
  transform: translateY(-5px); /* Зсув на 5px вгору при наведенні */
}

.center-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-link-container {
  transition: transform 0.3s ease-in-out;
}
.register-link-container:hover {
  transform: translateY(-5px); /* Зсув на 5px вгору при наведенні */
}

.register-link {
  padding: 15px;
  background-color: #023436;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
.register-link:hover {
  color: rgb(255, 255, 255);
  box-shadow: -2px 10px 84px 14px rgba(2, 52, 54, 0.75);
  -webkit-box-shadow: -2px 10px 84px 14px rgba(2, 52, 54, 0.75);
  -moz-box-shadow: -2px 10px 84px 14px rgba(2, 52, 54, 0.75);
  transform: translateY(-5px);
}

.navigation-contacts {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 11px;
  margin-left: 40px;
}

.header-location {
  text-align: center;
}

.nav-contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-phone {
  color: black;
}/*# sourceMappingURL=index.css.map */