.photo-section {
  padding-top: 90px;
}
.photo-title {
  font-size: 28px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 40px;
  }
}
.works-photo {
  height: 150px;
  width: 230px;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  @media screen and (min-width: 1200px) {
    height: 220px;
    width: 350px;
    margin-bottom: 15px;
  }
}
.works-title{
  text-align: center;
  margin-bottom: 20px;
}
.works-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}