.proposals-section{
    padding-top: 90px;
}
.proposals-title{
    margin-bottom: 30px;
    font-weight: 800;
}
.proposal-info{
    margin-bottom: 30px;
}
.proposal-item:not(:last-child){
    margin-bottom: 15px;
}
.proposal-item-container{
    background-color: #023436;
    border-radius: 10px;
    padding: 30px;
    color: $white-text-color;
}
.proposal-item-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.proposal-item-info{
    font-size: 14px;
}